{
  "presets": [
    ["env", { "modules": false }],
    "stage-0",
    "stage-3",
    "es2015",
    "es2017"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-flow",
    "babel-plugin-transform-flow-strip-types"
  ]
}
