/* Coolors Exported Palette - coolors.co/181b1e-3a3e3b-e26d5a-b4b8ab-f4f9e9 */

/* HSL */
$backgroud-main: hsla(210%, 11%, 11%, 1);
$background-secondary: hsla(135%, 3%, 24%, 1);
$color3: hsla(8%, 70%, 62%, 1);
$color4: hsla(78%, 8%, 70%, 1);
$text-color: hsla(79%, 57%, 95%, 1);

/* RGB */
$backgroud-main: rgba(24, 27, 30, 1);
$background-secondary: rgba(58, 62, 59, 1);
$color3: rgba(226, 109, 90, 1);
$color4: rgba(180, 184, 171, 1);
$text-color: rgba(244, 249, 233, 1);
