/* Coolors Exported Palette - coolors.co/1e000e-823038-fca311-1c3144-d00000 */

/* HSL */
$color1: hsla(332%, 100%, 6%, 1);
$color2: hsla(354%, 46%, 35%, 1);
$color3: hsla(37%, 98%, 53%, 1);
$color4: hsla(209%, 42%, 19%, 1);
$color5: hsla(0%, 100%, 41%, 1);

/* RGB */
$color1: rgba(30, 0, 14, 1);
$color2: rgba(130, 48, 56, 1);
$color3: rgba(252, 163, 17, 1);
$color4: rgba(28, 49, 68, 1);
$color5: rgba(208, 0, 0, 1);