html, body
  @include rect(100%)
  background-color: $backgroud-main
  overflow-x: hidden

*
  &::-webkit-scrollbar
    width: 7px

  &::-webkit-scrollbar-track
    background: lighten($backgroud-main, 9)

  &::-webkit-scrollbar-thumb
    background: darken($backgroud-main, 2.5)
